@import './responsive.scss';

$pageMargin: 55px;
.page {
  padding-left: $pageMargin;
  padding-right: $pageMargin;
  h1 {
    font-size: 3em;
  }
  p {
    font-size: 1.2em;
    text-align: justify;
  }
  @include responsive() {
    padding-left: 20px;
    padding-right: 20px;
  }
}